venv/
*.venv

__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.idea/
.vscode/

*.DS_Store

.env

Dockerfile
docker-compose.yml

htmlcov/
.coverage
*.log # Usually bind-mount logs or use Docker logging drivers instead of copying