__pycache__/
*.pyc
*.pyo
*.pyd

venv/
*.venv
env/
ENV/
pip-freeze.txt
pipenv-setup.lock

*.egg-info/
.eggs/
dist/
build/
*.egg
wheels/

.env
*.env.*

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*

.DS_Store
Thumbs.db

*.log

Dockerfile
docker-compose.yml

.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover